<h2>Products</h2>

<div>
    <%= link_to 'Create a new product', new_product_path %>
</div>

<br><br>

<div>

<h2> Listing products with traditional anchor tag syntax: </h2>

<% @products.each do |product| %>

    <div>
        <a href="/products/<%= product.id %>"><%=product.name %> </a>
    </div>


<% end %>

</div>


</br>


<div>

<h2> Listing products with a different method/syntax ( link_ to display_name, url ) </h2>

<% @products.each do |product| %>

    <div>
        <%= link_to product.name,product %>
    </div>


<% end %>

</div>
